/precord-journal-service/target/
/precord-journal-web/target/
/precord-menu-web/target/
/precord-entite-service/target/
/precord-extension-service/target/
/precord-planification-service/target/
/precord-menu-service/target/
/precord-core-service/target/
/precord-core-web/target/
/precord-planification-web/target/
/precord-web/target/
/precord-securite-web/target/
/precord-securite-service/target/
/precord-common-service/target/
/precord-common-web/target/
/precord-adhesion-service/target/
/precord-adhesion-web/target/
/precord-common-service/src/main/java/com/cagecfi/precord/common/dao/test/
/precord-entite-service/src/test/resources/Configuration/
/precord-test-service/target/
/precord-adhesion-service/src/test/resources/Configuration/
/precord-common-service/src/test/resources/Configuration/
/mavenproject1/target/
/precord-test-service/src/main/resources/Configuration/
/precord-install-web/target/
/precord-core-report/target/
/precord-common-report/target/
/report-test/target/
/precord-adhesion-web/src/main/java/com/cagecfi/precord/adhesion/web/onglets/
/precord-web/src/main/resources/Configuration/
/precord-tontine-web/target/
/precord-tontine-service/target/
/target/
/precord-wicket-parent/target/
/precord-report-service/target/
/precord-report-web/target/
/precord-epargne-service/target/
/precord-epargne-web/target/
/precord-caisse-service/target/
/precord-caisse-web/target/
/precord-web/src/main/filters/defaut/
/precord-credit-service/target/
/precord-credit-web/target/
/precord-rapport-service/nbproject/private/
/precord-rapport-service/target/
/precord-comptabilite-web/target/
/precord-comptabilite-service/target/
/precord-compta-service/target/
/precord-compta-web/target/
/precord-etatsfinanciers-service/target/
/precord-etatsfinanciers-web/target/
/precord-immos-service/target/
/precord-immos-web/target/
/precord-reporting-service/target/
/precord-engagement-service/target/
/precord-engagement-web/target/
/precord-transfertws-service/target/
/perefect-budget-service/target/
/precord-budget-web/target/
/precord-budget-service/target/
/precord-ws/target/
/precord-rwanda-service/target/
/precord-rwanda-web/target/
